$yellow: #ffce00;
$bg_blue: #00263d;
$blue: #11197f;
$text_footer_blue: #1e95a9;

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  body {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $bg_blue;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  ol,
  ul,
  li {
    list-style: none;
    display: block;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  a img {
    border: none;
  }

  textarea {
    resize: none;
  }

  button,
  input,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }
}

// RESET END

header {
  width: 100%;
  height: 90px;

  position: fixed;
  top: 0;
  z-index: 7;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $yellow;
  &::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    width: calc(50% - 65px);
    height: 2px;
    background-color: $yellow;
  }
  &::after {
    content: "";
    position: absolute;
    top: 90px;
    right: 0;
    width: calc(50% - 90px);
    height: 2px;
    background-color: $yellow;
  }

  #menuBtn {
    margin-left: 50px;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    z-index: 10;

    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 220px;
      height: 90px;
      width: 1.5px;
      background-color: $yellow;
      border-radius: 10px;
    }

    .hamMenu {
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      #line1 {
        width: 40px;
        height: 6px;
        margin: 5px;
        background: $yellow;
        border-radius: 3px;
        transition: transform 0.5s ease-in-out;
      }

      #line2 {
        width: 40px;
        height: 6px;
        margin: 5px;
        background: $yellow;
        border-radius: 3px;
        transition: transform 0.5s ease-in-out;
      }
    }
  }

  .menu-links {
    position: absolute;
    top: 0;
    left: -220px;
    z-index: 1;

    background-color: #00263da8;
    width: 220px;
    height: 80vh;

    overflow: auto;
    transition: left 500ms ease-in-out;
    // border-radius: 0 30% 70% 35%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    ul {
      width: 200px;
      height: 55vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      li {
        margin-left: 50px;
      }
    }
  }

  .menu-links.active {
    left: 0;
  }

  .menu-links li:hover {
    text-decoration: underline;
  }

  #tripsBtn {
    margin-right: 50px;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.2em;
    border-bottom: 4px solid $yellow;
  }
  .svg_holder.logo.top {
    position: relative;
    width: 180px;
    height: 120px;
    svg {
      position: absolute;
      top: 30px;
      fill: $yellow;
    }
  }

  #menuBtn.open .hamMenu #line1 {
    transform: rotate(45deg) translateY(10px);
  }

  #menuBtn.open .hamMenu #line2 {
    transform: rotate(-45deg) translateY(-12px);
  }
}
main {
  width: 100vw;
  #welcome {
    position: relative;
    width: inherit;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1,
    h2 {
      color: $yellow;
      letter-spacing: 0.2em;
    }
    h1 {
      font-weight: 700;
      font-size: 2em;
    }
    h2 {
      font-weight: 300;
      font-size: 1.2em;
    }
    a {
      height: 100px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      color: $yellow;
      letter-spacing: 0.2em;
      font-weight: 700;

      transform: translateY(220px);
      svg {
        transform: scale(2);
        #normal,
        #dotted {
          fill: none;
          stroke: #ffce00;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 2px;
        }
        #dotted {
          stroke-dasharray: 0 3.96;
        }
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      object-fit: cover;

      background: radial-gradient(
        circle,
        rgb(81, 217, 245) 25%,
        rgba(9, 9, 121, 1) 100%
      );
      mix-blend-mode: soft-light;
    }
    video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
      object-fit: cover;
    }
  }
  &#about {
    position: relative;
    top: 100vh;
  }
  #about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;

    h2 {
      margin: auto;
      padding-top: 50px;
      padding-bottom: 20px;
      letter-spacing: 0.2em;
      color: $yellow;
    }

    p {
      width: 80vh;
      margin: auto;
      text-align: center;
      text-transform: none;
      color: $text_footer_blue;
    }

    .svg_holder.wave {
      svg {
        height: 50vh;
        position: absolute;
        top: -30px;
        left: 0;
        z-index: -1;
        .wave {
          fill: url(#wave);
        }
      }
    }
  }

  #map {
    position: relative;
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto 130px 210px;
    //top: -20vh;
    width: 100%;
    height: 190vh;

    background-color: $blue;

    img {
      position: absolute;
      width: 100%;
      z-index: 4;
    }
    #mappng {
      transform: scale(0.95) translateY(-30px);
      z-index: 4;
    }
    #route {
      z-index: 1;
      transform: scale(0.95) translateY(-30px);
      z-index: 5;
    }
    #pattern {
      transform: scale(1.03);
      z-index: 3;
    }

    .text_holder {
      grid-column-start: 2;
      grid-row-start: 3;
      text-align: center;
      color: $text_footer_blue;
      z-index: 6;

      h2 {
        color: $yellow;
        letter-spacing: 0.2em;
        font-size: 2em;
      }

      button {
        align-self: flex-end;
        letter-spacing: 0.2em;
        font-size: 1em;
        padding: 0 5px;
        z-index: 2;
        &:hover {
          color: $yellow;
        }
      }
      &.route {
        grid-row-start: 2;
      }
    }
  }
  .svg_holder.wave {
    svg {
      position: absolute;
      bottom: 0px;
      z-index: 5;
      .wave {
        fill: url(#wave);
      }
    }
  }
  #gallery {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: $text_footer_blue;
    .swiper-container {
      width: inherit;
      height: inherit;
      .swiper-wrapper {
        width: inherit;
        height: inherit;
        .swiper-slide {
          object-fit: cover;
        }
      }
      //MARCI: megpróbáltam a pagination-t, töröld ki ha sikerül!
      .swiper-pagination {
        .swiper-pagination-bullet-active {
          background: none;
        }
        .swiper-pagination-bullet {
          margin: 50px;
          margin-bottom: 0;
        }
        .notActive {
          stroke: $text_footer_blue;
          stroke-width: 3px;
          fill: none;
        }
        .active {
          .a,
          .b {
            fill: none;
            stroke: #fc0;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            stroke-width: 2px;
          }

          .b {
            stroke-dasharray: 0 4;
          }
        }
      }
    }
  }
}

footer {
  position: relative;
  width: 100%;
  height: 130vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: $bg_blue;

  h3 {
    color: $text_footer_blue;
    letter-spacing: 0.2em;
    font-weight: 400;
    transform: translateY(60px);
  }
  h4 {
    color: $yellow;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 2em;
  }
  input {
    width: 300px;
    font-size: 1.1em;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid $yellow;
    text-transform: none;
    transform: translateY(-20px);
    color: #fff;
    &::placeholder {
      color: rgba(255, 255, 255, 0.603);
    }
  }
  h5 {
    color: $text_footer_blue;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-size: 0.9em;
    transform: translateY(-20px);
  }
  #social_wrapper {
    position: relative;
    width: 240px;
    height: 80px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 2px solid $yellow;

    transform: translateY(-100px);
    &::before {
      content: "";
      position: absolute;
      left: 33.3%;
      width: 1.5px;
      height: 80px;
      background-color: $yellow;
    }
    &::after {
      content: "";
      position: absolute;
      left: 66.6%;
      width: 1.5px;
      height: 80px;
      background-color: $yellow;
    }
    i {
      transform: scale(1.3);
      color: $yellow;
      transition: transform 0.3s;
      &:hover {
        transform: scale(2);
      }
    }
  }
  .svg_holder.logo.bottom {
    position: relative;
    bottom: 100px;
    left: 0;
    svg {
      transform: scale(0.5);
      fill: $yellow;
    }
  }
  .svg_holder.wave.bottom {
    position: absolute;
    bottom: 54px;
    width: 100%;
    svg {
      transform: scale(1.5);
      width: 100vw;
      path {
        fill: url(#footer_gradient);
      }
    }
  }
  .bottom_links {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $text_footer_blue;

    font-weight: 400;
    letter-spacing: 0.2em;
    div:first-child {
      margin-left: 50px;
    }
    div:last-child {
      margin-right: 50px;
    }
    div:last-child a:first-child::after {
      content: " | ";
    }
  }
}

body.noScroll {
  overflow: hidden;
}

@media screen and (max-width: 601px) {
  header {
    &::before {
      content: "";
      position: absolute;
      top: 90px;
      left: 0;
      width: calc(50% - 65px);
      height: 0px;
      background-color: $yellow;
    }
    &::after {
      content: "";
      position: absolute;
      top: 90px;
      right: 0;
      width: calc(50% - 90px);
      height: 0px;
      background-color: $yellow;
    }

    .svg_holder.logo.top {
      position: relative;
      width: 120px;
      height: 80px;
      svg {
        position: absolute;
        width: 120px;
        height: 79px;
        top: 0;
        fill: $yellow;
        transition: 0.5s;
      }
    }

    .menu-links {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: 1;

      background-color: #00263da8;
      width: 100%;
      height: 100vh;

      overflow: auto;
      transition: left 500ms ease-in-out;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      font-weight: 600;
      font-size: 1.2em;
      letter-spacing: 0.2em;
      ul {
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
    }

    .menu-links.active {
      left: 0;
    }

    .menu-links li:hover {
      text-decoration: underline;
    }

    #menuBtn {
      margin-left: 50px;
      font-size: 1.3em;
      font-weight: 600;
      letter-spacing: 0.2em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      z-index: 10;

      &:hover {
        cursor: pointer;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 220px;
        height: 90px;
        width: 0px;
        background-color: none;
        border-radius: 10px;
      }
    }
  }
}
