* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
}

* body {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #00263d;
}

*::-webkit-scrollbar {
  display: none;
}

* ol,
* ul,
* li {
  list-style: none;
  display: block;
}

* table {
  border-collapse: collapse;
  border-spacing: 0;
}

* button,
* a {
  cursor: pointer;
  color: inherit;
}

* a img {
  border: none;
}

* textarea {
  resize: none;
}

* button,
* input,
* textarea,
* select {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  border-radius: 0;
}

header {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffce00;
}

header::before {
  content: "";
  position: absolute;
  top: 90px;
  left: 0;
  width: calc(50% - 65px);
  height: 2px;
  background-color: #ffce00;
}

header::after {
  content: "";
  position: absolute;
  top: 90px;
  right: 0;
  width: calc(50% - 90px);
  height: 2px;
  background-color: #ffce00;
}

header #menuBtn {
  margin-left: 50px;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

header #menuBtn:hover {
  cursor: pointer;
}

header #menuBtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 220px;
  height: 90px;
  width: 1.5px;
  background-color: #ffce00;
  border-radius: 10px;
}

header #menuBtn .hamMenu {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #menuBtn .hamMenu #line1 {
  width: 40px;
  height: 6px;
  margin: 5px;
  background: #ffce00;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

header #menuBtn .hamMenu #line2 {
  width: 40px;
  height: 6px;
  margin: 5px;
  background: #ffce00;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

header .menu-links {
  position: absolute;
  top: 0;
  left: -220px;
  z-index: 1;
  background-color: #00263da8;
  width: 220px;
  height: 80vh;
  overflow: auto;
  -webkit-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

header .menu-links ul {
  width: 200px;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .menu-links ul li {
  margin-left: 50px;
}

header .menu-links.active {
  left: 0;
}

header .menu-links li:hover {
  text-decoration: underline;
}

header #tripsBtn {
  margin-right: 50px;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.2em;
  border-bottom: 4px solid #ffce00;
}

header .svg_holder.logo.top {
  position: relative;
  width: 180px;
  height: 120px;
}

header .svg_holder.logo.top svg {
  position: absolute;
  top: 30px;
  fill: #ffce00;
}

header #menuBtn.open .hamMenu #line1 {
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
}

header #menuBtn.open .hamMenu #line2 {
  -webkit-transform: rotate(-45deg) translateY(-12px);
          transform: rotate(-45deg) translateY(-12px);
}

main {
  width: 100vw;
}

main #welcome {
  position: relative;
  width: inherit;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #welcome h1,
main #welcome h2 {
  color: #ffce00;
  letter-spacing: 0.2em;
}

main #welcome h1 {
  font-weight: 700;
  font-size: 2em;
}

main #welcome h2 {
  font-weight: 300;
  font-size: 1.2em;
}

main #welcome a {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffce00;
  letter-spacing: 0.2em;
  font-weight: 700;
  -webkit-transform: translateY(220px);
          transform: translateY(220px);
}

main #welcome a svg {
  -webkit-transform: scale(2);
          transform: scale(2);
}

main #welcome a svg #normal,
main #welcome a svg #dotted {
  fill: none;
  stroke: #ffce00;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

main #welcome a svg #dotted {
  stroke-dasharray: 0 3.96;
}

main #welcome .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  background: radial-gradient(circle, #51d9f5 25%, #090979 100%);
  mix-blend-mode: soft-light;
}

main #welcome video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

main#about {
  position: relative;
  top: 100vh;
}

main #about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
}

main #about h2 {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  letter-spacing: 0.2em;
  color: #ffce00;
}

main #about p {
  width: 80vh;
  margin: auto;
  text-align: center;
  text-transform: none;
  color: #1e95a9;
}

main #about .svg_holder.wave svg {
  height: 50vh;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -1;
}

main #about .svg_holder.wave svg .wave {
  fill: url(#wave);
}

main #map {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 800px auto;
      grid-template-columns: auto 800px auto;
  -ms-grid-rows: auto 130px 210px;
      grid-template-rows: auto 130px 210px;
  width: 100%;
  height: 190vh;
  background-color: #11197f;
}

main #map img {
  position: absolute;
  width: 100%;
  z-index: 4;
}

main #map #mappng {
  -webkit-transform: scale(0.95) translateY(-30px);
          transform: scale(0.95) translateY(-30px);
  z-index: 4;
}

main #map #route {
  z-index: 1;
  -webkit-transform: scale(0.95) translateY(-30px);
          transform: scale(0.95) translateY(-30px);
  z-index: 5;
}

main #map #pattern {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  z-index: 3;
}

main #map .text_holder {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  text-align: center;
  color: #1e95a9;
  z-index: 6;
}

main #map .text_holder h2 {
  color: #ffce00;
  letter-spacing: 0.2em;
  font-size: 2em;
}

main #map .text_holder button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  letter-spacing: 0.2em;
  font-size: 1em;
  padding: 0 5px;
  z-index: 2;
}

main #map .text_holder button:hover {
  color: #ffce00;
}

main #map .text_holder.route {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

main .svg_holder.wave svg {
  position: absolute;
  bottom: 0px;
  z-index: 5;
}

main .svg_holder.wave svg .wave {
  fill: url(#wave);
}

main #gallery {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #1e95a9;
}

main #gallery .swiper-container {
  width: inherit;
  height: inherit;
}

main #gallery .swiper-container .swiper-wrapper {
  width: inherit;
  height: inherit;
}

main #gallery .swiper-container .swiper-wrapper .swiper-slide {
  -o-object-fit: cover;
     object-fit: cover;
}

main #gallery .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: none;
}

main #gallery .swiper-container .swiper-pagination .swiper-pagination-bullet {
  margin: 50px;
  margin-bottom: 0;
}

main #gallery .swiper-container .swiper-pagination .notActive {
  stroke: #1e95a9;
  stroke-width: 3px;
  fill: none;
}

main #gallery .swiper-container .swiper-pagination .active .a,
main #gallery .swiper-container .swiper-pagination .active .b {
  fill: none;
  stroke: #fc0;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

main #gallery .swiper-container .swiper-pagination .active .b {
  stroke-dasharray: 0 4;
}

footer {
  position: relative;
  width: 100%;
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #00263d;
}

footer h3 {
  color: #1e95a9;
  letter-spacing: 0.2em;
  font-weight: 400;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

footer h4 {
  color: #ffce00;
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 2em;
}

footer input {
  width: 300px;
  font-size: 1.1em;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #ffce00;
  text-transform: none;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  color: #fff;
}

footer input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.603);
}

footer input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.603);
}

footer input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.603);
}

footer input::placeholder {
  color: rgba(255, 255, 255, 0.603);
}

footer h5 {
  color: #1e95a9;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: 0.9em;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

footer #social_wrapper {
  position: relative;
  width: 240px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #ffce00;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

footer #social_wrapper::before {
  content: "";
  position: absolute;
  left: 33.3%;
  width: 1.5px;
  height: 80px;
  background-color: #ffce00;
}

footer #social_wrapper::after {
  content: "";
  position: absolute;
  left: 66.6%;
  width: 1.5px;
  height: 80px;
  background-color: #ffce00;
}

footer #social_wrapper i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #ffce00;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

footer #social_wrapper i:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

footer .svg_holder.logo.bottom {
  position: relative;
  bottom: 100px;
  left: 0;
}

footer .svg_holder.logo.bottom svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  fill: #ffce00;
}

footer .svg_holder.wave.bottom {
  position: absolute;
  bottom: 54px;
  width: 100%;
}

footer .svg_holder.wave.bottom svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  width: 100vw;
}

footer .svg_holder.wave.bottom svg path {
  fill: url(#footer_gradient);
}

footer .bottom_links {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e95a9;
  font-weight: 400;
  letter-spacing: 0.2em;
}

footer .bottom_links div:first-child {
  margin-left: 50px;
}

footer .bottom_links div:last-child {
  margin-right: 50px;
}

footer .bottom_links div:last-child a:first-child::after {
  content: " | ";
}

body.noScroll {
  overflow: hidden;
}

@media screen and (max-width: 601px) {
  header::before {
    content: "";
    position: absolute;
    top: 90px;
    left: 0;
    width: calc(50% - 65px);
    height: 0px;
    background-color: #ffce00;
  }
  header::after {
    content: "";
    position: absolute;
    top: 90px;
    right: 0;
    width: calc(50% - 90px);
    height: 0px;
    background-color: #ffce00;
  }
  header .svg_holder.logo.top {
    position: relative;
    width: 120px;
    height: 80px;
  }
  header .svg_holder.logo.top svg {
    position: absolute;
    width: 120px;
    height: 79px;
    top: 0;
    fill: #ffce00;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .menu-links {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    background-color: #00263da8;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-transition: left 500ms ease-in-out;
    transition: left 500ms ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 0.2em;
  }
  header .menu-links ul {
    width: 100%;
    height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .menu-links.active {
    left: 0;
  }
  header .menu-links li:hover {
    text-decoration: underline;
  }
  header #menuBtn {
    margin-left: 50px;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 10;
  }
  header #menuBtn:hover {
    cursor: pointer;
  }
  header #menuBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 220px;
    height: 90px;
    width: 0px;
    background-color: none;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */